.radioContainer {
    padding-top: 5px;
    cursor: pointer;
}
.radio:hover::before {
    content: url("/hover.svg");
    position: absolute;
    width: 25px;
    height: 25px;
}
.img {
    width: 25px;
    height: 25px;
}
.imgWidth {
    width: 27px;
    height: 27px;
}
.radioPadding {
    padding: 0;
}