.radioContainer {
    padding-top: 5px;
    cursor: pointer;
}
.radio:hover::before {
    content: url("/hover.svg");
    position: absolute;
    width: 25px;
    height: 25px;
}
.img {
    width: 25px;
    height: 25px;
}
.imgDelete {
    width: 27px;
    height: 27px;
}
.imgEdit {
    width: 27px;
    height: 27px;
}
.radioDelete {
    padding: 0;
}
.radioEdit {
    padding: 0;
}