.item {
    border: 1px solid;
    border-radius: 8px;
    padding: 0 10px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.item:hover {
    transition: 0.1s;
    outline:1px solid #646cff;
}
.itemChecked {
    outline:1px solid #2f3152;
}