.container {
  padding: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: #323232;
  position: relative;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.category {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 30px;
}
.react-datepicker__input-container {
  width: 100% !important;
}
.react-datepicker__tab-loop {
  position: absolute;
  left: 4%;
  top: -290%;
}
.react-datepicker-wrapper {
  width: 7.5em;
}
.addItem {
  width: 24.5%;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dotted #888888;
  background-color: #b9cce9a2;
  border-radius: 8px;
  text-overflow: clip;
  cursor: pointer;
  transition: 0.5s;
}
.addItem:hover {
  outline: 4px auto #646cff;
}
